.nav-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
.nav-is-mobile .nav-toolbar {
  position: fixed;
  z-index: 2;
}

h1.nav-app-name {
  margin-left: 8px;
  align-content: center;
}

.sidenav-container {
  flex: 1;
}

.nav-is-mobile .sidenav-container {
  flex: 1 0 auto;
}

mat-sidenav, 
mat-sidenav.md-locked-open, 
mat-sidenav.md-closed.md-locked-open-add-active {
    min-width: 200px !important;
    width: 85vw !important;
    max-width: 20% !important;
} 

.side-nav {
  background-color: rgba(232, 225, 250, 0.966);
}

.div-dimensions {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.user-options {
  position: absolute;
  right: 1%;
}

.user-menu {
  display: inline-block;
  border-radius: 5px;
}