<div>
  <div class="toggle-button">
    <mat-button-toggle-group #ContextGroup="matButtonToggleGroup" [(ngModel)]="selectedContext">
      <mat-button-toggle value="C" aria-label="Tasks in context">
        <mat-icon>filter_center_focus</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="N" aria-label="Tasks not in context">
        <mat-icon>border_all</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <p *ngIf="selectedContext=='C'">
    Personnal Tasks Dashboard - Tasks in context
  </p>
  <p *ngIf="selectedContext=='N' || selectedContext=='' || selectedContext==undefined">
    Personnal Tasks Dashboard - Tasks out of context
  </p>
  <div class="task-panel">
    <div class="task-panel2">
      <div class="task-card-box" *ngFor="let task of getTaskListArray(selectedContext); let i = index">
        <mat-card class="task-card-dimensions">
          <div class="task-card-inside-div">
            <mat-card-header class="task-card-header">
              <div class="task-header-text">
                <p class="task-header-text-para">
                  {{task.taskCode}}
                </p>
              </div>
              <button class="menu-button" mat-icon-button [matMenuTriggerFor]="cardmenu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #cardmenu="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="statusmenu">
                  <mat-icon>build</mat-icon>
                  <span>Change status to </span>
                </button>
                <mat-menu #statusmenu="matMenu">
                  <button mat-menu-item *ngFor="let status of getStatusList(task.taskStatus)"
                   (click)="updatePerTaskStatus(task,status,i,selectedContext)">
                    <mat-icon>gamepad</mat-icon>
                    <span>{{getStatusName(status)}}</span>
                  </button>
                </mat-menu>
                <button mat-menu-item (click)="changePerTaskContext(task,i,selectedContext)">
                  <mat-icon>power_settings_new</mat-icon>
                  <span>Change context</span>
                </button>
              </mat-menu>
            </mat-card-header>
            <mat-card-content class="task-card-content" (click)="editTask(task,i)">
              <div class="task-card-content-div">
                <p>
                  {{task.taskName}}
                </p>
                <p style="height: 150px; overflow: hidden;">
                  {{task.taskSummary}}
                </p>
              </div>
            </mat-card-content>
            <mat-card-footer class="task-card-footer">
              <div class="task-status-dot-div">
                <span class="task-status-dot" [ngStyle]="this.getStatusDot(task.taskStatus)"></span>
              </div>
              <div class="task-status-text-div">
                <p style="vertical-align: middle;">
                  {{getStatusName(task.taskStatus)}}
                </p>
              </div>
            </mat-card-footer>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="add-button">
    <button mat-fab color="primary" (click)="createTask()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>